@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h2 class="thead-dark">Welcome To </h2>
        <h2 class="thead-dark">The Pharmacy Medicine Supply Management System </h2>
    </div>
*@

<div class="body" id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>





    <!-- Main-->
    <section id="about" style="background-image:url(https://github.com/DK004/project-images/blob/main/pharma2.png?raw=true);background-size:auto;">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <div class="about-info">
                        <h2 class="wow fadeInUp" data-wow-delay="0.6s">Welcome to The Pharmacy Medicine Supply Management System</h2>
                        <div class="wow fadeInUp" data-wow-delay="0.8s">
                            <p>Instructions to work in the website are below...</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>




    <!-- NEWS -->
    <section id="news" data-stellar-background-ratio="2.5">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <!-- SECTION TITLE -->
                    <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <h2>Some Info.</h2>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                        <a href="news-detail.html">
                            <img src="~/lib/images/news-image1.jpg" class="img-responsive" alt="">
                        </a>
                        <div class="news-info">
                            <h3><a href="news-detail.html">About Amazing Technology</a></h3>
                            <p>Working With Automation and creating the automated system for the Medical Representative</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">
                        <a href="news-detail.html">
                            <img src="~/lib/images/news-image2.jpg" class="img-responsive" alt="">
                        </a>
                        <div class="news-info">
                            <h3><a href="news-detail.html">Working For the Doctors</a></h3>
                            <p>Help them getting the Best for the Patients</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.8s">
                        <a href="news-detail.html">
                            <img src="~/lib/images/news-image3.jpg" class="img-responsive" alt="">
                        </a>
                        <div class="news-info">
                            <h3><a href="news-detail.html"></a>Working For the Patients</h3>
                            <p>For getting the best Medicine and the Pharmacy Details</p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="mt-3 mb-5 pb-5">
        <h3 class="text-center">
            Steps To create the schedule for the Medical representer<br>
            And to create the demand and Supply from the website.<br><br><br>
        </h3>
        <p>

            1. First login with a valid EmailID and Use the Initials of the LoginId for the Medical Representor (MR) Id in the system<br>
            2. Second MR can view the Medicine Stock we have from the MedicineStock Option in the navigation bar.<br>
            3. Third MR should choose the specific medicine from the Medicine Stock to create the Schedule for, as per to the
            requirement form the Doctor and Target Ailment.<br>
            4. Fourth, After the choosing of the Medicine MR should navigate to the RepresentorSchedule Menu from the navigation bar.<br>
            5. Fifth Now MR should create the Should for himself/herself .<br>
            6. Sixth, Fill the required details for the creation of the Schedule and fill the date as well and medicine as you have.<br>
            7. Seventh, Then Click on the Create Schedule to create schedule.<br>
            8. Eight, Also Note that You can only get the meeting date as for you as per the schedule and you can only get the 5 days of time for each meeting.<br>
            9. Ninth, MR should consider only Sunday as a holiday during the planing of the meet. and as per to that should fill the date.<br>
            10. Tenth, Now as Schedule is created than Now MR should meet with the Doctor offline and come back to the portal to fill the information about the demand of the medicine.<br>
            11. Eleventh, Now after the meeting MR should go the the Demand Menu in the navbar<br>
            12. In the Demand he should create the demand. and fill the required for that. Note the Demand Id will be new for each demand and Mr should remember than to get the supply for it.<br>
            13. Thirteenth, After that MR should go at PharmacySupply to check supply for the same demand<br>
            14. fourteenth, Now Mr should put the Demand Id of the demand he created and new Medicinesupply Id should the putted and Pharmacy Id be filled as per to the pharmacy.<br>
            15. Fifteenth, Now Click on create than Now he must be able to see the supplycount for the MedsupplyId he created.<br>
        </p>

    </div>
    
</div>
